.jumbotron{
  background-color: navy;
  color:white;

}

.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}

footer
{
  padding: 10px;
  background-color: navy;
  margin-top: 10px;
}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

.logos
{
  height: 40px;

}

.letras{
  color: white;
}

.icono{
  padding-right: 10px;
}

.tab-content{
  padding-top: 10px;
}

.carousel-item {
  height: 25rem;
}
