.jumbotron {
  background-color: #10088b;
  color: #ced1db; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding: 10px;
  background-color: #10088b;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.logos {
  height: 40px; }

.letras {
  color: white; }

.icono {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel-item {
  height: 25rem; }

/*# sourceMappingURL=styles.css.map */
