$yellow: #fffa19;
$navy: #10088b;
$white: #ced1db;


@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $navy;
    color: $white;
   
  }


  .card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px )
  }
  
  footer
  {
    padding: 10px;
    background-color: $navy;
    @include margenes(10px, 0px )
  }
  
  .btn-reserva{
    width: 100%;
    border-radius: 0px;
  }
  
  .logos
  {
    height: 40px;
  
  }
  
  .letras{
    color: white;
  }
  
  .icono{
    padding-right: 10px;
  }
  
  .tab-content{
    padding-top: 10px;
  }
  
  .carousel-item {
    height: 25rem;
  }